.hero{
    background-image: url("/img/hero-2.jpg");
    background-size: cover;
}

.h-45vh{
    height:45vh; 
}
.control-img{
    width:35rem; 
}
.about-item{
    background-color: forestgreen;
    box-shadow:2px 2px 30px rgba(0,0,0,2); 
}

.make-teal{
    background-color: teal;
}

.nav a{
    background-color: #33cc00;  

}

.nav a:hover{
    background-color: green;
    text-decoration:underline; 
}

.nav a:first-child{
    font-family: 'Rubik Beastly', cursive;
    color:#6610f2; 
}